body {
    background-color: #EEEEEE;
    padding: 80px 100px;
}

.register-head {
    text-align: center;
}
.register-head>.head-title {
    font-family: Arial;
    font-weight: 500;
}
.register-head>.head-instrct {
    font-family: Arial;
}

.register-body {
    margin-top: 50px;
    text-align: center;

}

.register-username {
    margin-top: 20px;
}

.register-password {
    margin-top: 20px;
}

.register-name {
    margin-top: 20px;
}

.register-age {
    margin-top: 20px;
}

.register-gender {
    margin-top: 20px;
}

.register-submit {
    margin-top: 20px;
}